* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
  background-image: url(../supply/kobo\ scene\ 5\ v2.png);
  background-attachment: fixed;
  background-size: cover;
}

/* header */
header {
  width: 16.5vw;
  height: 100vh;
  background-color: transparent;
  box-sizing: border-box;
  padding: 20px 30px;
}

header .header-head {
  font-family: "Sunflower";
  font-size: 260%;
  text-align: center;
  margin: 8% 0;
}

header .header-content {
  font-family: "Poppins";
  font-weight: 400;
}

header .header-content ul {
  list-style-type: none;
  margin-top: 50%;
  font-size: 160%;
}

header .header-content ul li {
  margin: 35px 0 0 0;
  display: flex;
}

header img {
  height: 10%;
  margin: auto 10px;
}

header .header-footer {
  position: absolute;
  bottom: 2%;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 160%;
  display: flex;
}
/* end header */

/* content */
.content {
  width: 59vw;
  height: 100vh;
  background: linear-gradient(180deg, #e6d0d0 100%, rgba(255, 255, 255, 0.8125) 18.75%, rgba(255, 255, 255, 0) 100%);
  box-sizing: border-box;
}

.content .content-head {
  width: 100%;
  height: 17%;
  background: linear-gradient(0deg, rgba(255, 192, 105, 0.33), rgba(255, 192, 105, 0.33)), linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 200%;
  align-items: center;
  justify-content: space-evenly;
}

.content .content-head .post {
  width: 20%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content .content-head .post .pivot {
  width: 100%;
  height: 10%;
  border-radius: 40px 40px 0 0;
  background-color: brown;
  margin: 15% 0 0 0;
}

.content .content-head .point {
  width: 20%;
  text-align: center;
}

.content .content-main {
  overflow-y: scroll;
  width: 100%;
  height: 72%;
  padding: 5% 0;
}

.content .content-main .card {
  width: 90%;
  height: 50vh;
  margin: auto;
  margin-bottom: 5%;
  border-radius: 50px;
  overflow: hidden;
  font-family: "Poppins";
}

.content .content-main .card .card-head {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff8f0;
  border-radius: 50px 50px 0 0;
}

.content .content-main .card .card-head .card-head-img {
  width: 15%;
  height: 80%;
  border-radius: 50%;
  background-color: azure;
  margin-right: 5%;
}

.content .content-main .card .card-head .card-head-user {
  width: 60%;
  height: 80%;
  box-sizing: border-box;
}

.content .content-main .card .card-head .card-head-user .username {
  font-size: 180%;
  font-weight: 600;
}

.content .content-main .card .card-head .card-head-user .tag-name {
  font-size: 140%;
  font-weight: 500;
}

.content .content-main .card-main {
  width: 100%;
  height: 70%;
  background-color: white;
}

.content .content-main .card-main .card-main-post {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
}

.content .content-main .card-main .card-main-footer {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.content .content-main .card-main .card-main-footer .tags {
  font-size: 150%;
  font-weight: 500;
}

.content .content-main .card-main .card-main-footer .attach {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
}

/* end content */

/* side-content */
.side-content {
  width: 24.5vw;
  height: 100vh;
  background-color: #ffe0c1;
  box-sizing: border-box;
  text-align: center;
}

.side-content .search {
  width: 80%;
  height: 5%;
  margin: auto;
  margin-top: 10%;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  background-color: white;
}

.side-content .search img {
  height: 60%;
  margin: auto 20px;
}

.side-content .search input {
  width: 70%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 100%;
  border: 0;
}

.side-content .search input:focus {
  outline: none;
}

.side-content .search:target .icon-search {
  background-color: aqua;
}

.side-content .notif {
  width: 80%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 120%;
  box-sizing: border-box;
}

.side-content .notif .notif-head {
  display: flex;
  justify-content: flex-start;
  margin: 6%;
}

.side-content .notif hr {
  height: 0.3%;
  background-color: black;
}

.side-content .notif .notif-main {
  width: 80%;
  height: 80%;
  display: flex;
  display: row;
  justify-content: start;
  margin: 6%;
}

/* end side-content */

@font-face {
  font-family: "Sunflower";
  src: url(supply/MADE\ Sunflower\ PERSONAL\ USE.otf);
}
