* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  overflow: scroll;
}

body section {
  display: flex;
  overflow: scroll;
  margin: auto;
}

/* header */
.navbar {
  width: 240px;
  height: 100vh;
  background-color: #ffe0c1;
  box-sizing: border-box;
  display: inline;
}

.navbar .navbar-head {
  font-family: "Sunflower";
  text-align: center;
  margin: 58px 37px;
  font-size: 30px;
  font-weight: 400;
}

.navbar .navbar-content {
  font-family: "Poppins";
  font-weight: 400;
  box-sizing: border-box;
  width: 240px;
}

.navbar .navbar-footer {
  align-self: flex-end;
  position: absolute;
  bottom: 10px;
  font-family: "Poppins";
  font-weight: 400;
  box-sizing: border-box;
  width: 240px;
}

.navbar .navbar-content ul, .navbar .navbar-footer ul {
  list-style-type: none;
  margin: auto 8px;
  font-size: 20px;
}

.navbar .navbar-content ul li, .navbar .navbar-footer ul li {
  margin: 8px auto;
  display: flex;
  align-items: center;
}

.navbar .navbar-content ul li div, .navbar .navbar-footer ul li div {
  height: 20px;
  width: 20px;
  align-items: center;
  display: flex;
  margin: auto 29px;
}

.navbar .navbar-content ul li div img, .navbar .navbar-footer ul li div img {
  width:100%;
  height:100%;
  object-fit: contain;
}
/* end header */

/* content */
.content {
  width: 610px;
  height: 100vh;
  background: linear-gradient(180deg, #e6d0d0 100%, rgba(255, 255, 255, 0.8125) 18.75%, rgba(255, 255, 255, 0) 100%);
  box-sizing: border-box;
  display: inline-block;
}

.content .banner {
  width: 610px;
  height: 438px;
  background: linear-gradient(0deg, rgba(255, 192, 105, 0.33), rgba(255, 192, 105, 0.33)), linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02));
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 200%;
  align-items: center;
  justify-content: space-evenly;
}

.content .banner .post {
  width: 20%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content .banner .post .pivot {
  width: 100%;
  height: 10%;
  border-radius: 40px 40px 0 0;
  background-color: brown;
  margin: 15% 0 0 0;
}

.content .banner .point {
  width: 20%;
  text-align: center;
}

.content .region {
  overflow-y: scroll;
  width: 610px;
  height: auto;
  padding: 5% 0;
}

.content .region .card {
  width: 90%;
  height: 50vh;
  margin: auto;
  margin-bottom: 5%;
  border-radius: 50px;
  overflow: hidden;
  font-family: "Poppins";
}

.content .region .card .card-head {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff8f0;
  border-radius: 50px 50px 0 0;
}

.content .region .card .card-head .card-head-img {
  width: 15%;
  height: 80%;
  border-radius: 50%;
  background-color: azure;
  margin-right: 5%;
}

.content .region .card .card-head .card-head-user {
  width: 60%;
  height: 80%;
  box-sizing: border-box;
}

.content .region .card .card-head .card-head-user .username {
  font-size: 180%;
  font-weight: 600;
}

.content .region .card .card-head .card-head-user .tag-name {
  font-size: 140%;
  font-weight: 500;
}

.content .region .card-main {
  width: 100%;
  height: 70%;
  background-color: white;
}

.content .region .card-main .card-main-post {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
}

.content .region .card-main .card-main-footer {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.content .region .card-main .card-main-footer .tags {
  font-size: 150%;
  font-weight: 500;
}

.content .region .card-main .card-main-footer .attach {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
}

/* end content */

/* discover */
.discover {
  width: 371px;
  height: 100vh;
  background-color: #ffe0c1;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
  align-items: flex-start;
  padding: 18px 37px;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}

.discover .search {
  width: 100%;
  height: 38px;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  background-color: white;
  align-items: center;
}

.discover .search div {
  height: 20px;
  width: 20px;
  opacity: 35%;
  margin: auto 20px auto 13px;
}

.discover .search img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-left: 4px;
}

.discover .search input {
  width: auto;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  border: none;
  opacity: 35%;
}

.discover .search input:focus {
  opacity: 100%;
  border: none;
}

.discover .suggestions {
  width: 100%;
  height: auto;
  padding: 10px 30px 30px 30px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  font-family: "Poppins";
  box-sizing: border-box;
  display: list-item;
  text-align: left;
}

.discover .suggestions .suggestions-head {
  color: #C58F44;
  font-size: 23px;
  font-weight: 600;
}

.discover .suggestions .suggestions-main {
  width: 100%;
  height: auto;
  display: flex;
}

.discover .suggestions .suggestions-main .profile {
  width: 100%;
  height: auto;
  display: flex;
  padding: 9px auto;
}

.discover .suggestions .suggestions-main .profile .profile-picture {
  width: 37px;
  height: 37px;
  border: 10px;
  background-color: #e6d0d0;
}

/* end discover */

@font-face {
  font-family: "Sunflower";
  src: url(supply/MADE\ Sunflower\ PERSONAL\ USE.otf);
}
